@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: #250D01 !important;
  --swiper-navigation-size: 32px !important;
}

/*
.swiper-slide {
  width: 300px !important;
  margin: 0 0 0 30px;
}
*/
.Eye-on{
  color: aliceblue;
}
